body {
    text-align: center;
    background-color: #000;
}
h1 {
    margin-bottom: 10px;
    color: #fff;
    border: 2px solid rgb(60, 200, 163);
}
textarea {
    width: 32%;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #F4F4F9;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
    border: 5px solid rgb(60, 200, 163);
}
iframe {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 35em;
    background-color: #fff;
    border: 5px solid rgb(60, 200, 163);
}
/* media query */
@media (max-width:760px) {
    textarea {
        width: 40vw;
    }
    #js {
        width: 84vw;
    }
}